/practice_Literal.class
/practice_Loop_for.class
/practice_Loop_while.class
/practice_andorxor.class
/practice_basic.class
/practice_date_change.class
/practice_if_basic.class
/practice_if_color.class
/practice_if_score.class
/practice_multiple.class
/practice_operator.class
/practice_prime.class
/practice_scanner.class
/practice_shift.class
/practice_short.class
/practice_switch.class
